In [25]:
import pandas as pd
import numpy as np
CSV_FILE_PATH = "../TimeLogGUI/timelog.csv"
timelog = pd.read_csv(CSV_FILE_PATH)

timelog['date'] = timelog['date'].astype('datetime64')

timelog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           101 non-null    datetime64[ns]
 1   time_spent     101 non-null    int64
 2   affected_user  101 non-null    object
 3   description    101 non-null    object
 4   location       101 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.1+ KB

In [31]:
temp = timelog[timelog.date.between('7/4/22', '7/24/22')]
temp = temp.drop(columns=['affected_user', 'description'])
temp = temp.sort_values(by=['date'])
temp

          date  time_spent   location
48  2022-07-05         120        SPD
62  2022-07-05          90  Marketing
100 2022-07-05          30        SPD
49  2022-07-06          60     Amazon
53  2022-07-06          45        MGH
54  2022-07-08          15  Marketing
34  2022-07-11          90  Marketing
86  2022-07-13          45       WSL5
96  2022-07-13          60      Volpe
76  2022-07-22          30        SPD

In [28]:
table = temp.pivot_table(index=['location'], columns=['date'], values=['time_spent'], aggfunc=np.sum, fill_value=0)
table

          time_spent
date      2022-07-05 2022-07-06 2022-07-08 2022-07-11 2022-07-13 2022-07-22
location
Amazon             0         60          0          0          0          0
MGH                0         45          0          0          0          0
Marketing         90          0         15         90          0          0
SPD              150          0          0          0          0         30
Volpe              0          0          0          0         60          0
WSL5               0          0          0          0         45          0